<div class="col-md-3 mx-auto my-auto float-left">
    <a class="nav-link" rel="tooltip" title="" data-placement="top" href="./pet/{{id}}" data-original-title="{{likes}} likes">
    <img class="rounded border border-3 border-purple mb-3" src="{{url}}" style="width: 100%">
    </a>
</div>