<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Comm</h5>
          <p>
            <strong>ID</strong>: {{comm.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{comm.name}}</p>
            <a href="/index3">← Back To Test Page</a>
        </div>
      </div>
    </div>
  </div>
</div>
