<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="new-user" action="POST">
          <div class="form-group">
            <label for="user-url">user-url</label>
            <input type="text" id="user-url" class="form-control" aria-describedby="user-url" placeholder="user-url">
          </div>
          <div class="form-group">
            <label for="user-name">user-name</label>
            <input type="text" id="user-name" class="form-control" aria-describedby="user-name" placeholder="user-name">
          </div>
          <div class="form-group">
            <label for="user-email">user-email</label>
            <input type="text" id="user-email" class="form-control" aria-describedby="user-email" placeholder="user-email">
          </div>
          <div class="form-group">
            <label for="user-password">user-password</label>
            <input type="text" id="user-password" class="form-control" aria-describedby="user-password" placeholder="user-password">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>

        <form class="new-pet" action="POST">
          <div class="form-group">
            <label for="pet-user">pet-user</label>
            <input type="text" id="pet-user" class="form-control" aria-describedby="pet-user" placeholder="pet-user">
          </div>
          <div class="form-group">
            <label for="pet-name">pet-name</label>
            <input type="text" id="pet-name" class="form-control" aria-describedby="pet-name" placeholder="pet-name">
          </div>
          <div class="form-group">
            <label for="pet-species">pet-species</label>
            <input type="text" id="pet-species" class="form-control" aria-describedby="pet-species" placeholder="pet-species">
          </div>
          <div class="form-group">
            <label for="pet-age">pet-age</label>
            <input type="text" id="pet-age" class="form-control" aria-describedby="pet-age" placeholder="pet-age">
          </div>
          <div class="form-group">
            <label for="pet-profPic">pet-profPic</label>
            <input type="text" id="pet-profPic" class="form-control" aria-describedby="pet-profPic" placeholder="pet-profPic">
          </div>
          <button id="submit2" class="btn btn-primary float-right">Submit2</button>
        </form>

        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/public/assets/js/index.js"></script>
