<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="new-user" action="POST">
          <div class="form-group">
            <label for="user-name">user-name</label>
            <input type="text" id="user-name" class="form-control" aria-describedby="user-name" placeholder="user-name">
          </div>
          <div class="form-group">
            <label for="user-email">user-email</label>
            <input type="text" id="user-email" class="form-control" aria-describedby="user-email" placeholder="user-email">
          </div>
          <div class="form-group">
            <label for="user-password">user-password</label>
            <input type="text" id="user-password" class="form-control" aria-describedby="user-password" placeholder="user-password">
          </div>
          <div class="form-group">
            <label for="user-communities">user-communities</label>
            <input type="text" id="user-communities" class="form-control" aria-describedby="user-communities" placeholder="user-communities">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
