<div class="container">
  <div class="main main-raised top-margin bottom-margin">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="row">
          <h2 class="text-center">Please Fill Out Your New Pet Information</h2>
          <form class="new-pet" style="width: 100%;" action="POST">
            {{!-- <div class="form-group">
              <label for="pet-user" class="bmd-label-floating">Your Owner ID:</label>
              <input type="text" id="pet-user" class="form-control" aria-describedby="pet-user" placeholder="">
            </div> --}}
            <div class="form-group">
              <label for="pet-name" class="bmd-label-floating">Pet Name:</label>
              <input type="text" id="pet-name" class="form-control" aria-describedby="pet-name" placeholder="">
            </div>
            <div class="form-group">
              <label for="pet-species" class="bmd-label-floating">Pet Species</label>
              <input type="text" id="pet-species" class="form-control" aria-describedby="pet-species" placeholder="">
            </div>
            <div class="form-group">
              <label for="pet-breed" class="bmd-label-floating">Pet Breed</label>
              <input type="text" id="pet-breed" class="form-control" aria-describedby="pet-breed" placeholder="">
            </div>
            <div class="form-group">
              <label for="pet-size" class="bmd-label-floating">Pet Size</label>
              <input type="text" id="pet-size" class="form-control" aria-describedby="pet-size" placeholder="">
            </div>
            <div class="form-group">
              <label for="pet-age" class="bmd-label-floating">Pet Age</label>
              <input type="text" id="pet-age" class="form-control" aria-describedby="pet-age" placeholder="">
            </div>
            <div class="form-group">
              <label for="pet-bio" class="bmd-label-floating">Pet Bio</label>
              <input type="text" id="pet-bio" class="form-control" aria-describedby="pet-bio" placeholder="">
            </div>
            <div class="form-group">
              <label for="pet-prof-pic" class="bmd-label-floating">Pet Photo URL</label>
              <input type="text" id="pet-prof-pic" class="form-control" aria-describedby="pet-prof-pic" placeholder="">
            </div>
            <button id="submit2" class="btn btn-primary float-right">Submit</button>
          </form>
          <a href="/user"><button id="cancel" href="/user" style="margin-top: -65px;" class="btn btn-dark float-left">Cancel</button></a>
      </div>

      <div class="col-lg-12 text-center">
        <h3>Existing Pets:</h3>
        <div class="row">
          <div class="mx-auto mb-3" id="communities-container">
            <ul class="nav nav-pills nav-pills-icons justify-content-center" id="pet-list" role="list-group">
              {{#each pets}}
                {{> pets/petList-block}}
              {{/each}}
            </ul>
            {{!-- <ul id="pet-list" class="list-group">
              {{#each pets}}
              <li data-id="{{this.id}}" class="list-group-item">
                <a href="pet/{{this.id}}">{{this.name}}</a>
                <button class="btn btn-danger float-right delete">ｘ</button>
              </li>
              {{/each}}
            </ul> --}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/pets.js"></script>
