<div class="container">
  <footer class="footer fixed-footer">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="/aboutus">
              About Us
            </a>
          </li>
          <li>
            <a href="https://github.com/sgenini/projectTwo/">
              GitHub Repo
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right font-roboto text-uppercase"><small class="font-white">
        &copy;
        <script>
          document.write(new Date().getFullYear())</script>, Pawstagram.</small>
      </div>
    </div>
  </footer>
</div>