<div class="col-md-3 mx-5 my-auto float-left">
    <a class="nav-link" rel="tooltip" title="" data-placement="top" href="../../user/{{id}}" data-original-title="{{name}}">
    <img class="rounded border border-3 border-purple mb-3" src="{{userPhotoUrl}}" style="width: 200px">
    </a>
</div>